.container{
    width: 100%;
   }   
.container-box{
    height:100px;
    width: 100px;
    border: black 3px solid; 
    margin: 10px;
}

.container-box:nth-child(2n+1){
 background-color: brown;
}
.container-box:nth-child(2n){
    background-color: rgb(85, 42, 165);
   }
.container-box:nth-child(1):hover~.container-box:nth-child(odd){
    opacity: 0;
}
.container-box:not(:first-child){
    float: left;
}
.container-box:nth-child(7n){
    clear: both;
}



